@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffc400;
    display: flex;
    justify-content: center;
    min-width: 100vh;
    margin: 0;
}

main {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    background-color: #8e00cf;
    border-radius: 0 0 10px 10px;
}

header nav a {
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    width: 30px;

}

#logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

#social-link1 {
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    margin-left: 40px;
}

#social-link2 {
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
}

#social-link1:hover {
    color: #5f028a;
    transition: 0.5s ease-in;
}

#social-link2:hover {
    color: #5f028a;
    transition: 0.5s ease-in;
}

.login {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #8e00cf;
    font-family: "poppins";
    font-weight: 700;
    margin-left: 40px;
}

.login:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;

}

.container {
    background-color: #8e00cf;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    text-align: center;
}

#timer {
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 20px;
    margin-top: 80px;
}


#botao-timer {
    border-radius: 10px;
    padding: 30px 60px 30px 60px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    color: #383838;
    cursor: pointer;
    margin-bottom: 150px;
    box-shadow: #4a006d 2px 2px 1px 1px;

}

#botao-timer:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;

}

.tasks{
    background-color: #8e00cf;
    margin-top: 30px;
    border-radius: 10px;
    display: flexbox;
    place-items: center;
    text-align: center;
}


.tasks h1{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}

.input-task{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
}

.button-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.button-task:hover{
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;
}

.list-task{
    width: 100%;
    list-style: none;
    padding: 30px;
}

.task{
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    cursor: pointer;
}

.task img{
    width: 20px;
    opacity: 0;
}

.task:hover img{
    opacity: 1;
    transition: 1s ease-in;
}

.done{
    background-color: #ffc400;
    text-decoration: line-through;
}


@media screen {
    
}