@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffc400;
    display: flex;
    justify-content: center;
    min-width: 100vh;
    margin: 0;
}

main {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    background-color: #8e00cf;
    border-radius: 0 0 10px 10px;
}

header nav a {
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    width: 30px;

}

#logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

#social-link1 {
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    margin-left: 40px;
}

#social-link2 {
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 30px;
}

#social-link1:hover {
    color: #5f028a;
    transition: 0.5s ease-in;
}

#social-link2:hover {
    color: #5f028a;
    transition: 0.5s ease-in;
}

.login {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #8e00cf;
    font-family: "poppins";
    font-weight: 700;
    margin-left: 40px;
}

.login:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;

}

.container {
    background-color: #8e00cf;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    text-align: center;
}

.textinho {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: -60px;
    font-size: 15px;
}

.textinho span {
    color: #ffc400;
    font-weight: 800;
    font-size: 35px;
}

.creditos {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: -100px;
    display: grid;
}

.creditos a {
    color: #ffc400;
    text-decoration: none;
}

.versao {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: -40px;
    
}

.versao a {
    color: #ffc400;
    text-decoration: none;
}

#timer {
    font-size: 80px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 20px;
    margin-top: 80px;
    display: flex;
}

.botoes{
    padding: 20px;
}

#botao-timer {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    color: #383838;
    cursor: pointer;
    margin-bottom: 150px;
    box-shadow: #4a006d 2px 2px 1px 1px;

}

#botao-timer:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;

}

#botao-stop {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    color: #383838;
    cursor: pointer;
    margin-bottom: 150px;
    box-shadow: #4a006d 2px 2px 1px 1px;

}

#botao-stop:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;

}

.tasks {
    background-color: #8e00cf;
    margin-top: 30px;
    border-radius: 10px;
    display: flexbox;
    place-items: center;
    text-align: center;
}


.tasks h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
}

.input-task {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
}

.button-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.button-task:hover {
    color: #ffffff;
    background-color: #5f028a;
    transition: 0.5s ease-in;
}

.list-task {
    width: 100%;
    list-style: none;
    padding: 30px;
}

.task {
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    cursor: pointer;
}

.task img {
    width: 20px;
}

.done {
    background-color: #ffc400;
    text-decoration: line-through;
}


@media only screen and (max-width: 820px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        padding-left: 45px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-left: 5px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-right: 5px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        margin-left: -10px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-left: 5px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-right: 5px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        margin-left: 15px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .input-task {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 250px;
        height: 40px;
    }

    .button-task {
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    .textinho {
        margin-bottom: -60px;
        font-size: 12px;
    }

    .textinho span {
        font-size: 50px;
    }

    .creditos {
        margin-bottom: 10px;
        margin-top: -100px;
    }
}

/**DARKMODE**/



/**RESPONSIVIDADE**/

@media only screen and (max-width: 668px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 25px;
        font-weight: 600;
        margin-left: -10px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-left: 5px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
        margin-right: 5px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        margin-left: 15px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .input-task {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 250px;
        height: 40px;
    }

    .button-task {
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    .textinho {
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: -60px;
        font-size: 12px;
    }

    .textinho span {
        color: #ffc400;
        font-weight: 800;
        font-size: 35px;
    }

    .creditos {
        color: #ffffff;
        font-size: 11px;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .creditos a {
        color: #ffc400;
        text-decoration: none;
    }
}

@media only screen and (max-width: 568px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        margin-left: -18px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 25px;
        margin-left: 5px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 25px;
        margin-right: 5px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        margin-left: 15px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .input-task {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 250px;
        height: 40px;
    }

    .button-task {
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    .textinho {
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: -60px;
        font-size: 12px;
    }

    .textinho span {
        font-size: 50px;
    }

    .creditos {
        margin-bottom: 10px;
        margin-top: -100px;
    }
}

@media only screen and (max-width: 468px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding-left: 42px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 20px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 20px;
    }

    #botao-timer {
        padding: 10px 15px 10px 15px;
        font-size: 30px;
    }

    #botao-stop {
        padding: 10px 15px 10px 15px;
        font-size: 30px;
    }

    .task {
        margin: 15px;
        padding: 25px;
    }


    .tasks {
        margin-bottom: 30px;
    }


}

@media only screen and (max-width: 390px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding-left: 40px;
    }

    .login {
        font-size: 12px;
    }

    .textinho {
        font-size: 12px;
    }
}


@media only screen and (max-width: 375px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        font-size: 15px;
        font-weight: 600;
        padding-left: 45px;
    }

    #social-link1 {
        color: white;
        font-size: 15px;
    }

    #social-link2 {
        color: white;
        font-size: 15px;
    }

    .login {
        font-weight: 700;
        font-size: 12px;
    }

    #botao-timer {
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }

    #botao-stop {
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .list-task {
        padding: 5px;
    }

    .textinho {
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: -90px;
        font-size: 15px;
        padding: 10px;
    }

    .textinho span {
        color: #ffc400;
        font-weight: 800;
        font-size: 35px;
    }
}

@media only screen and (max-width: 360px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        padding-left: 30px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        font-size: 12px;
    }

    #botao-timer {
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }

    #botao-stop {
        padding: 10px 15px 10px 15px;
        font-size: 20px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .list-task {
        padding: 5px;
    }

    .input-task {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 170px;
        height: 40px;
    }

    .button-task {
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    .textinho {
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: -90px;
        font-size: 15px;
        padding: 10px;
    }

    .textinho span {
        color: #ffc400;
        font-weight: 800;
        font-size: 35px;
    }

    .creditos {
        margin-top: -100px;
    }

    .versao{
        margin-bottom: 10px;
        margin-top: -40px;
    }
}

@media only screen and (max-width: 344px) {
    body {
        min-width: 25vh;
    }

}

@media only screen and (max-width: 320px) {
    body {
        min-width: 45vh;
    }

    main {
        padding: 0 20px 0 20px;
    }

    header {
        padding: 20px;
        width: 100%;
    }

    #logo {
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        padding-left: 45px;
    }

    #social-link1 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    #social-link2 {
        align-items: center;
        vertical-align: middle;
        color: white;
        font-size: 15px;
    }

    .login {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: #8e00cf;
        font-family: "poppins";
        font-weight: 700;
        font-size: 12px;
    }

    #botao-timer {
        padding: 10px 15px 10px 15px;
        font-size: 30px;
    }

    #botao-stop {
        padding: 10px 15px 10px 15px;
        font-size: 30px;
    }

    .tasks {
        margin-bottom: 30px;
    }

    .list-task {
        padding: 5px;
    }

    .input-task {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 170px;
        height: 40px;
    }

    .button-task {
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
    }

    .textinho {
        color: #ffffff;
        margin-top: 50px;
        margin-bottom: -90px;
        font-size: 15px;
        padding: 10px;
    }

    .textinho span {
        color: #ffc400;
        font-weight: 800;
        font-size: 35px;
    }

    .creditos {
        margin-top: -100px;
    }

    .versao{
        margin-bottom: 10px;
        margin-top: -40px;
    }
}